<%- include('includes/head') %>
<%- include('includes/nav') %>


<div class="container mt-4">

    <div class="container-fluid py-5">
        
      
      <h1 class="display-5 fw-bold">Bem Vindo</h1>
      <p class="col-md-8 fs-4">Site criado com foco na apredizagem em NodeJS.</p>
      
      <%- include('includes/flash') %>
      
    </div>

    <h2>Postagens Recentes: </h2>

  <% post.forEach(posts => { %>

    <div class="card mb-4">

      <div class="card-body">

        <h5 class="card-title"><%= posts.titulo %></h5>

        <p class="card-text">Categoria: <%= posts.categoria %></p>

        <p class="card-text"><%= posts.conteudo %></p>

        <a href="#" class="btn btn-primary">Ver mais sobre</a>

        <hr>

        <a href="/posts/<%= posts._id %>" class="btn btn-primary btn-success">Editar Post</a>
        <a href="/posts/deletar/<%= posts._id %>" class="btn btn-primary btn-danger">Excluir Post</a>
      </div>

    </div>
    
  <% }) %>    

</div>



<%- include('includes/footer') %>
